body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;
  width: 100%;
  background: url(/img/secondbackphoto.png) no-repeat center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  inset: 0;
  z-index: -1;
  position: fixed;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(140, 184, 242, 0.4);

  padding: 30px;
  border-radius: 15px;

  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.facts-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-block {
  display: flex;
  gap: 10px;
}

.input-block input {
  flex: 1;
  padding: 8px;
}

.input-block button {
  border-radius: 10px;
  border: 1.5px solid black;
  color: white;
  transition: 0.2s linear;
  background: #0b63f6;
}

.input-block button:hover {
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px #3c82f8;
}

.facts-block div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
}

.facts-block div button {
  border-radius: 10px;
  border: 1.5px solid black;
  color: white;
  transition: 0.2s linear;
  background: #a90520;
}

.facts-block div button:hover {
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px #a90520;
}

.return a {
  position: absolute;
  top: 20px;
  left: 20px;
  white-space: nowrap;

  color: black;
  text-decoration: none;
  font-weight: 600;
}

.return a:hover {
  color: rgb(128, 128, 128);
}
